body{
  background-color: rgb(14, 197, 197);
}
li{
  cursor:pointer;
  list-style: none;
}
.tytul{
  text-align: center;
  color: rgb(2, 95, 95);
  text-shadow: 5px 0px 10px;

}
.active{
  background-color:lightblue;
}

.main{
  text-align: center;
  background-color:rgb(14, 181, 181);
  width:1000px;
  margin:auto;
}

button{
  padding:6px;
  margin:8px;
  width:200px;
  height: 50px;
  font-weight: bold;
  text-shadow: 3px 3px 7px;
  box-shadow: 8px 8px 12px;
  border-radius: 25px;
}
input{
  margin-top:10px;
  border-radius: 50px;
  padding: 5px;
}
#searchBtn{
  height:40px;
  width:70px;
}
.zbiornik{
  width: 500px;
  padding: 3px;
  border-radius: 50px;
  background-color: rgb(12, 158, 158);
  margin: auto;
}
.list-group-item{
  color:rgb(2, 99, 99);
  margin-left: 50px;
  margin-right: 80px;
}

